body {background-color: #b1c3e9;} 
nav {
  max-width: 60%;
}

nav ul li {
  list-style-type: none;
  display: inline-flex;
  padding: 0.25em 1em 0.25em 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #03d3d3;
}

a:focus, a:active {
  color: #008080;
  border-bottom: 6px solid #008080;
  padding-bottom: 3px;
}