{% extends "base" %}

{% block content %}
<style> body {background-color: #b1c3e9;} </style>
<h1>Welcome to the Rust fractal generator web page!</h1>
<img src="cool.png" alt="Barnsley's fern fractal in cool colors" width="700" height="700"> <br> <br>
<a href="/gen">Generate a new fractal!</a> <br> <br>
<a href="https://github.com/SimonBartonPSU/Fractal-Generator">Project source on GitHub</a>
{% endblock content %}